.irregular-filling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 1rem;
  background: var(--color-white);
  gap: 2rem;
}

.irregular-filling__content {
  width: 100%;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.irregular-filling__header {
  text-align: center;
  width: 179px;
  height: 139px;
  background-color: rgba(225, 13, 43, 1);
  color: #fff;
  box-shadow: o 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.irregular-filling__header-title {
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.irregular-filling__header-img {
  margin: 0 auto;
  width: 129.8px;
  height: 104.5px;
}

.irregular-filling__paragraph {
  font-size: 11px;
  font-weight: 400;
  line-height: 13.49px;
  color: rgba(0, 0, 0, 1);
  text-align: justify;
}

.irregular-filling__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.irregular-filling__form-content {
  width: 100%;
  /* margin-bottom: 0.5em; */
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.irregular-filling__form-content-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.irregular-filling__form-imput {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  border: 1px solid rgba(255, 0, 0, 1);
  border-radius: 5px;
}

.irregular-filling__form-button {
  cursor: pointer;
  font-size: 30px;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  box-shadow: 0 6px 13.1px rgba(112, 0, 0, 0.48);
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
  transition: 0.3s;
  font-family: var(--tipo-secundaria);
}

.irregular__home {
  transition: 0.3s;
  color: red;
  text-shadow: 0 6px 13.1px rgba(112, 0, 0, 0.48);
  cursor: pointer;
}

.irregular-filling__form-button:active,
.irregular__home:active {
  transition: 0.3s;
  opacity: 50%;
}

.irregular-filling__result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 1em;
  background-color: rgba(5, 133, 198, 1);
  color: #fff;
  border-radius: 10px;
}

.irregular-filling__result-title {
  text-align: center;
}

.irregular-filling__result-gr {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.irregularFilling__btn-more {
  font-weight: bold;
}

.less::after {
  content: " ↑";
  font-size: 1.1rem;
}
.more::after {
  content: " ↓";
  font-size: 1.1rem;
}

@media (width > 768px) {
  .irregular-filling {
    background: var(--color-white);
    max-width: 393px;
    padding: 1rem;
    margin: 0 auto;
    height: 95vh;
    margin: 2.5vh auto;
    border-radius: 2.5rem;
    box-shadow: 0 0 5px #7000007a;
  }
}
