.resin {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--color-white);
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0 1rem;
}
.resin_title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #e10d2b;
}

.resin_container-img {
  width: 171px;
  height: 171px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -11px 11px 10px rgba(0, 74, 116, 0.21);
  background-color: #0585c6;
  gap: 1rem;
}

.resin_container-title {
  width: 129px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 19px;
  font-family: var(--tipo-principal);
}

.resin_btn {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-top: 1rem;
  padding-bottom: 1em;
}

.resin_alert {
  width: 70%;
  padding: 0.2rem;
  border: 1px solid var(--color-red);
  border-radius: 10px;
}
.resin_alert-error {
  text-align: center;
  color: var(--color-red);
}
.resin_alert-off {
  display: none;
  visibility: none;
}

@media (width > 768px) {
  .resin {
    width: 25rem;
    height: 95vh;
    margin: 2.5vh auto;
    border-radius: 2.5rem;
    box-shadow: 0 0 5px var(--color-shadow-red);
    overflow-y: hidden;
    gap: 4rem;
  }
  .container {
    gap: 4rem;
  }
  .resin_title {
    font-size: 1.5rem;
  }

}

@media (width > 768px) and (height >= 599px) {
  .resin {
    gap: 2rem;
    overflow: auto;
  }
  .container {
    gap: 2rem;
  }
}
@media (width > 768px) and (height >= 720px) {
  .resin {
    gap: 0;
  }
  .container {
    justify-content: space-evenly;
    gap: 0;
  }
  .resin_title {
    font-size: 1.8rem;
  }
}
