.header {
  background: url("./img/bg/bg-header.svg");
  background-size: cover;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header > img {
  width: 6rem;
  margin-right: 15px;
}
